.footer-configuration-widget .menu-blocks-container,
.cms-ui .footer-configuration-widget .menu-blocks-container {
  padding: 2em;
}

.footer-configuration-widget
  .menu-blocks-container
  .block
  .toolbar-inner
  .ui.input
  input,
.cms-ui
  .footer-configuration-widget
  .menu-blocks-container
  .block
  .toolbar-inner
  .ui.input
  input {
  height: unset;
}

#footer-configuration,
.cms-ui #footer-configuration {
  margin: 1em 0;
}

.footer-configuration-widget .ui.header.editablefooter-items-header,
.cms-ui .footer-configuration-widget .ui.header.editablefooter-items-header {
  font-size: 1.2rem;
  opacity: 0.8;
}

.footer-configuration-widget .ui.menu.footer-path .item button.mini,
.cms-ui .footer-configuration-widget .ui.menu.footer-path .item button.mini {
  font-size: 0.78571429rem;
}

.footer-configuration-widget .ui.menu.footer-items-menu h2,
.cms-ui .footer-configuration-widget .ui.menu.footer-items-menu h2 {
  padding: 0 1rem;
  margin-bottom: 1rem;
  font-size: 1em;
}

.footer-configuration-widget .ui.menu.footer-items-menu .item,
.cms-ui .footer-configuration-widget .ui.menu.footer-items-menu .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  margin: 0px 0px 0px 1px !important;
  width: 100%;
  cursor: pointer;
}
.footer-configuration-widget .ui.menu.footer-items-menu .item:hover,
.cms-ui .footer-configuration-widget .ui.menu.footer-items-menu .item:hover {
  background-color: #fafafa !important;
}

.footer-configuration-widget .ui.menu.footer-items-menu .item span,
.cms-ui .footer-configuration-widget .ui.menu.footer-items-menu .item span {
  margin-left: 0.5rem;
  text-align: start;
}

.footer-configuration-widget .ui.menu.footer-items-menu .item button.ui.button,
.cms-ui
  .footer-configuration-widget
  .ui.menu.footer-items-menu
  .item
  button.ui.button {
  padding: 0.5rem;
  text-align: center;
}

.footer-configuration-widget
  .ui.menu.footer-items-menu
  .item
  button.ui.button
  i.icon,
.cms-ui
  .footer-configuration-widget
  .ui.menu.footer-items-menu
  .item
  button.ui.button
  i.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
}

.footer-configuration-widget .ui.menu.footer-path .item span,
.footer-configuration-widget .ui.menu.footer-items-menu .item span,
.cms-ui .footer-configuration-widget .ui.menu.footer-path .item span,
.cms-ui .footer-configuration-widget .ui.menu.footer-items-menu .item span {
  display: inline-block;
  min-width: 3rem;
  flex: 1;
}

.footer-configuration-widget .ui.menu.footer-items-menu .item span,
.cms-ui .footer-configuration-widget .ui.menu.footer-items-menu .item span {
  padding-left: 0.5rem;
}

.footer-configuration-widget #footerpath-delete.field.delete .column,
.footer-configuration-widget #column-delete.field.delete .column,
.cms-ui .footer-configuration-widget #footerpath-delete.field.delete .column,
.cms-ui .footer-configuration-widget #column-delete.field.delete .column {
  justify-content: center;
}

button#delete-footerpath,
button#delete-footercolumn,
.cms-ui button#delete-footerpath,
.cms-ui button#delete-footercolumn {
  display: inline-block;
  flex-grow: 0;
  align-self: self-start;
}

.footer-configuration-widget .footer-rootpath-segment,
.cms-ui.footer-configuration-widget .footer-rootpath-segment {
  padding-bottom: 3rem;
  border-bottom: 1px solid #c7d5d8;
  margin-bottom: 3rem;
}
